* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#root {
  margin: 2% 0% 2% 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#mobile-menu-icon {
  display: none;
}

.website-logo {
  width: 50px;
  height: 50px;
}

.website-title {
  margin: 1%;
  font-family: 'Cooper Black';
  font-size: xx-large;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  overflow-x: hidden;
}

.menu {
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.menu-item {
  list-style: none;
  font-size: large;
  text-align: center;
  color: blue;
  width: 120px;
}

.menu-item:hover {
  background-color: orange;
}

.cart-icon-and-userpic {
  position: static;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-icon-box {
  position: relative;
  right: 50px;
}

#cart-icon {
  font-size: 40px;
  margin: 1%;
  color: grey;
}

#cart-icon:hover {
  color: orange;
}

#cart-icon:active {
  color: orangered;
}

.book-amount {
  position: absolute;
  bottom: 30%;
  right: 0%;
  font-size: 15px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  color: orangered;
  background-color: white;
  border-radius: 3em;
}

#userpic {
  border-radius: 50%;
  overflow-x: hidden;
}

.cart {
  display: none;
  position: absolute;
  top: 90px;
  font-size: small;
  color: white;
  background-color: gray;
  padding: 2%;
  opacity: 0.91;
  width: 300px;
}

.cross-little {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 20px;
}

.cross-little:hover {
  color: orangered;
}

.product-amount-cart {
  font-size: x-large;
  margin-left: 1%;
}

.subtotal {
  font-size: large;
}

.checkout {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: darkorange;
  padding: 2%;
  margin-right: 4%;
  width: 90px;
}

.removing-cart {
  color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: orangered;
  padding: 2%;
}

.checkout:active {
  background-color: blue;
}

.removing-cart:active {
  background-color: blue;
}

.cart-handler-buttons {
  display: flex;
  flex-direction: row;
}

.keys-cart-box {
  display: none;
}

.knights-cart-box {
  display: none;
}

.product {
  display: flex;
  flex-direction: row;
}

.product-pictures-box, .product-info-box {
  margin: 3%;
}

.company-title {
  color: darkorange;
  font-family: 'Cooper Black';
  font-size: small;
}

.current-price, .discount-size {
  display: inline;
}

.current-price {
  font-size: x-large;
  font-weight: 600;
}

.discount-size {
  position: relative;
  left: 4%;
  font-size: medium;
  background-color: lightgray;
  color: orangered;
  padding: 1%;
}

.old-price {
  font-size: medium;
  color: gray;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-minus, .product-amount, .button-plus, .add-cart {
  margin: 3%;
}

.button-minus, .button-plus {
  color: darkorange;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  border: none;
}

.add-cart {
  background-color: darkorange;
  width: 150px;
  height: 30px;
  border-radius: 1vh;
  color: white;
  font-weight: 600;
}

.add-cart:hover {
  background-color: blue;
}

.add-cart:active {
  background-color: orangered;
}

.cart-button-text {
  position: relative;
  left: 7%;
}

.product-picture {
  border-radius: 5%;
}

.small-product-picture {
  opacity: 0.45;
  border-radius: 10%;
  margin: 3%;
}

.small-product-picture:first-child {
  margin-left: 0;
}

.small-product-picture:last-child {
  margin-right: 0;
}

.carousel-background {
  display: block;
  background-color: gray;
  opacity: 0.94;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin-top: 5%;
}

.picture-carousel {
  max-width: 700px;
  max-height: 700px;
  min-height: 200px;
  min-width: 200px;
}

.cross {
  position: absolute;
  right: 5%;
  font-size: 60px;
  color: black;
}

.cross:hover {
  color: orangered;
}

.arrows {
  display: block;
  font-size: 150px;
  color: white;
}

@media only screen and (max-width: 1020px) {
  .cart-icon-and-userpic {
    position: static;
    margin: 2%;
  }

  .cart-icon-box {
    position: relative;
    right: 20px;
  }
}
  
@media only screen and (max-width: 600px) {

  #root {
    overflow-x: hidden;
    overflow-y: hidden;
  }

#mobile-menu-icon {
  display: block;
  font-size: xx-large;
}

.website-title {
  font-size: x-large;
}

.website-logo {
  display: none;
}

.cart-icon-and-userpic {
  position: absolute;
  right: 5%;
}

.carousel-background {
  background-color: white;
  opacity: 1;
  position: static;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 5%;
  width: 95%;
}

.picture-carousel {
  max-width: 500px;
  max-height: 500px;
  min-height: 100px;
  min-width: 100px;
}

.arrows {
  color: darkorange;
  font-size: 100px;
}

.arrows:active {
  color: blue;
}

.cross {
  display: none;
}

.menu {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  opacity: 0.75;
}

.cart {
  min-width: 50px;
  max-width: 250px;
  top: 70px;
}


.product-pictures-box {
  display: none;
}

.price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.old-price {
  position: absolute;
  right: 1%;
  text-decoration:line-through;
}

.discount-size {
  margin-left: 5%;
}

.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.button-minus, .product-amount, .button-plus {
  font-size: 60px;
}

.button-minus {
  position: relative;
  right: 50%;
}

.button-plus {
  position: relative;
  left: 50%;
}

.button-minus:active, .button-plus:active {
  color: blue;
}

.add-cart {
  margin-top: 5%;
}

  }